#title {
    color: #bf9031;
    text-align: center;
    margin-top: 0px;
}

#game-container {
    display: flex;
    justify-content: center;
}

#controls {
    margin: 20px;
}

#sketch-container {
    display: flex;
    flex-shrink: 0;
    flex-flow: row wrap;
    width: 600px;
    height: 600px;
    border: 50px solid #ce171a;
    margin: auto;
}

#dimension-label,
#dimension-input,
#shake-button {
    margin: 5px;
}